<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Create_Validate Web Ecatalog">

    <test name="Create_Validate Web Ecatalog">

        <classes>

            <class name="automation.NewToursDemoTest"></class>

        </classes>

    </test>

</suite>